<p>
  <b>By:</b>
  <%= @idea.user.try(:email) %>
</p>

<p>
  <b>Title:</b>
  <%= @idea.title %>
</p>

<p>
  <b>Description:</b>
  <%= @idea.description %>
</p>

<% if @idea.created_by?(current_user) %>
  <%= link_to 'Edit', edit_idea_path(@idea), class: "btn btn-default btn-lg", role: "button" %>
<% end %>

<%= link_to 'Back', ideas_path, class: "btn btn-default btn-lg", role: "button" %>
